<template>
    <div id="app">
        Hello
        <button @click="calculate" class="btn btn-success btn-block">
            Calculate
        </button>
    </div>
</template>
<script>
    export default {
        name: 'Transactions',
        data () {
            return {
                transactions: undefined
            }
        }
    }
</script>

<style scoped>

</style>